--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: prod_storage; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA prod_storage;


ALTER SCHEMA prod_storage OWNER TO postgres;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_updated_at() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: answers_coderunner; Type: TABLE; Schema: prod_storage; Owner: postgres
--

CREATE TABLE prod_storage.answers_coderunner (
    id integer NOT NULL,
    question_id integer NOT NULL,
    text text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_flg boolean DEFAULT false NOT NULL
);


ALTER TABLE prod_storage.answers_coderunner OWNER TO postgres;

--
-- Name: answers_coderunner_id_seq; Type: SEQUENCE; Schema: prod_storage; Owner: postgres
--

CREATE SEQUENCE prod_storage.answers_coderunner_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE prod_storage.answers_coderunner_id_seq OWNER TO postgres;

--
-- Name: answers_coderunner_id_seq; Type: SEQUENCE OWNED BY; Schema: prod_storage; Owner: postgres
--

ALTER SEQUENCE prod_storage.answers_coderunner_id_seq OWNED BY prod_storage.answers_coderunner.id;


--
-- Name: answers_multichoice; Type: TABLE; Schema: prod_storage; Owner: postgres
--

CREATE TABLE prod_storage.answers_multichoice (
    id integer NOT NULL,
    question_id integer NOT NULL,
    text text NOT NULL,
    is_correct boolean NOT NULL,
    fraction real NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_flg boolean DEFAULT false NOT NULL
);


ALTER TABLE prod_storage.answers_multichoice OWNER TO postgres;

--
-- Name: answers_multichoice_id_seq; Type: SEQUENCE; Schema: prod_storage; Owner: postgres
--

CREATE SEQUENCE prod_storage.answers_multichoice_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE prod_storage.answers_multichoice_id_seq OWNER TO postgres;

--
-- Name: answers_multichoice_id_seq; Type: SEQUENCE OWNED BY; Schema: prod_storage; Owner: postgres
--

ALTER SEQUENCE prod_storage.answers_multichoice_id_seq OWNED BY prod_storage.answers_multichoice.id;


--
-- Name: dict_question_levels; Type: TABLE; Schema: prod_storage; Owner: postgres
--

CREATE TABLE prod_storage.dict_question_levels (
    level_cd character varying(100) NOT NULL,
    level_desc text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_flg boolean DEFAULT false NOT NULL
);


ALTER TABLE prod_storage.dict_question_levels OWNER TO postgres;

--
-- Name: dict_user_groups; Type: TABLE; Schema: prod_storage; Owner: postgres
--

CREATE TABLE prod_storage.dict_user_groups (
    user_group_cd character varying(100) NOT NULL,
    user_group_desc text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_flg boolean DEFAULT false NOT NULL
);


ALTER TABLE prod_storage.dict_user_groups OWNER TO postgres;

--
-- Name: inference_scores; Type: TABLE; Schema: prod_storage; Owner: postgres
--

CREATE TABLE prod_storage.inference_scores (
    id integer NOT NULL,
    inference_id integer NOT NULL,
    user_group_cd character varying(100),
    helpful integer NOT NULL,
    does_not_reveal_answer integer NOT NULL,
    does_not_contain_errors integer NOT NULL,
    only_relevant_info integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_flg boolean DEFAULT false NOT NULL,
    CONSTRAINT inference_scores_does_not_contain_errors_check CHECK ((does_not_contain_errors = ANY (ARRAY[1, 5]))),
    CONSTRAINT inference_scores_does_not_reveal_answer_check CHECK (((does_not_reveal_answer >= 1) AND (does_not_reveal_answer <= 5))),
    CONSTRAINT inference_scores_helpful_check CHECK (((helpful >= 1) AND (helpful <= 5))),
    CONSTRAINT inference_scores_only_relevant_info_check CHECK (((only_relevant_info >= 1) AND (only_relevant_info <= 5)))
);


ALTER TABLE prod_storage.inference_scores OWNER TO postgres;

--
-- Name: inference_scores_id_seq; Type: SEQUENCE; Schema: prod_storage; Owner: postgres
--

CREATE SEQUENCE prod_storage.inference_scores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE prod_storage.inference_scores_id_seq OWNER TO postgres;

--
-- Name: inference_scores_id_seq; Type: SEQUENCE OWNED BY; Schema: prod_storage; Owner: postgres
--

ALTER SEQUENCE prod_storage.inference_scores_id_seq OWNED BY prod_storage.inference_scores.id;


--
-- Name: link_user_group_x_level; Type: TABLE; Schema: prod_storage; Owner: postgres
--

CREATE TABLE prod_storage.link_user_group_x_level (
    user_group_cd character varying(100) NOT NULL,
    level_cd character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE prod_storage.link_user_group_x_level OWNER TO postgres;

--
-- Name: models; Type: TABLE; Schema: prod_storage; Owner: postgres
--

CREATE TABLE prod_storage.models (
    id integer NOT NULL,
    base_model_name character varying(200) NOT NULL,
    model_name character varying(200) NOT NULL,
    version integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_flg boolean DEFAULT false NOT NULL,
    CONSTRAINT models_version_check CHECK ((version >= 0))
);


ALTER TABLE prod_storage.models OWNER TO postgres;

--
-- Name: models_id_seq; Type: SEQUENCE; Schema: prod_storage; Owner: postgres
--

CREATE SEQUENCE prod_storage.models_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE prod_storage.models_id_seq OWNER TO postgres;

--
-- Name: models_id_seq; Type: SEQUENCE OWNED BY; Schema: prod_storage; Owner: postgres
--

ALTER SEQUENCE prod_storage.models_id_seq OWNED BY prod_storage.models.id;


--
-- Name: questions; Type: TABLE; Schema: prod_storage; Owner: postgres
--

CREATE TABLE prod_storage.questions (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    type character varying(200) NOT NULL,
    text text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_flg boolean DEFAULT false NOT NULL,
    level_cd character varying(100)
);


ALTER TABLE prod_storage.questions OWNER TO postgres;

--
-- Name: questions_id_seq; Type: SEQUENCE; Schema: prod_storage; Owner: postgres
--

CREATE SEQUENCE prod_storage.questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE prod_storage.questions_id_seq OWNER TO postgres;

--
-- Name: questions_id_seq; Type: SEQUENCE OWNED BY; Schema: prod_storage; Owner: postgres
--

ALTER SEQUENCE prod_storage.questions_id_seq OWNED BY prod_storage.questions.id;


--
-- Name: questions_transformed; Type: TABLE; Schema: prod_storage; Owner: postgres
--

CREATE TABLE prod_storage.questions_transformed (
    id integer NOT NULL,
    question_id integer NOT NULL,
    model_id integer NOT NULL,
    thinking text,
    text text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_flg boolean DEFAULT false NOT NULL
);


ALTER TABLE prod_storage.questions_transformed OWNER TO postgres;

--
-- Name: questions_transformed_id_seq; Type: SEQUENCE; Schema: prod_storage; Owner: postgres
--

CREATE SEQUENCE prod_storage.questions_transformed_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE prod_storage.questions_transformed_id_seq OWNER TO postgres;

--
-- Name: questions_transformed_id_seq; Type: SEQUENCE OWNED BY; Schema: prod_storage; Owner: postgres
--

ALTER SEQUENCE prod_storage.questions_transformed_id_seq OWNED BY prod_storage.questions_transformed.id;


--
-- Name: test_cases; Type: TABLE; Schema: prod_storage; Owner: postgres
--

CREATE TABLE prod_storage.test_cases (
    id integer NOT NULL,
    question_id integer NOT NULL,
    code text,
    input text NOT NULL,
    expected_output text NOT NULL,
    example boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_flg boolean DEFAULT false NOT NULL
);


ALTER TABLE prod_storage.test_cases OWNER TO postgres;

--
-- Name: test_cases_id_seq; Type: SEQUENCE; Schema: prod_storage; Owner: postgres
--

CREATE SEQUENCE prod_storage.test_cases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE prod_storage.test_cases_id_seq OWNER TO postgres;

--
-- Name: test_cases_id_seq; Type: SEQUENCE OWNED BY; Schema: prod_storage; Owner: postgres
--

ALTER SEQUENCE prod_storage.test_cases_id_seq OWNED BY prod_storage.test_cases.id;


--
-- Name: answers_coderunner id; Type: DEFAULT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.answers_coderunner ALTER COLUMN id SET DEFAULT nextval('prod_storage.answers_coderunner_id_seq'::regclass);


--
-- Name: answers_multichoice id; Type: DEFAULT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.answers_multichoice ALTER COLUMN id SET DEFAULT nextval('prod_storage.answers_multichoice_id_seq'::regclass);


--
-- Name: inference_scores id; Type: DEFAULT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.inference_scores ALTER COLUMN id SET DEFAULT nextval('prod_storage.inference_scores_id_seq'::regclass);


--
-- Name: models id; Type: DEFAULT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.models ALTER COLUMN id SET DEFAULT nextval('prod_storage.models_id_seq'::regclass);


--
-- Name: questions id; Type: DEFAULT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.questions ALTER COLUMN id SET DEFAULT nextval('prod_storage.questions_id_seq'::regclass);


--
-- Name: questions_transformed id; Type: DEFAULT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.questions_transformed ALTER COLUMN id SET DEFAULT nextval('prod_storage.questions_transformed_id_seq'::regclass);


--
-- Name: test_cases id; Type: DEFAULT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.test_cases ALTER COLUMN id SET DEFAULT nextval('prod_storage.test_cases_id_seq'::regclass);


--
-- Data for Name: answers_coderunner; Type: TABLE DATA; Schema: prod_storage; Owner: postgres
--



--
-- Data for Name: answers_multichoice; Type: TABLE DATA; Schema: prod_storage; Owner: postgres
--



--
-- Data for Name: dict_question_levels; Type: TABLE DATA; Schema: prod_storage; Owner: postgres
--

COPY prod_storage.dict_question_levels (level_cd, level_desc, updated_at, created_at, deleted_flg) FROM stdin;
ELEM	Elementary level question	2025-04-16 21:04:53.757821	2025-04-16 21:04:53.757821	f
INTERM	Intermediate level question	2025-04-16 21:04:53.757821	2025-04-16 21:04:53.757821	f
ADVAN	Advanced level question	2025-04-17 11:01:09.30094	2025-04-17 11:01:09.30094	f
\.


--
-- Data for Name: dict_user_groups; Type: TABLE DATA; Schema: prod_storage; Owner: postgres
--



--
-- Data for Name: inference_scores; Type: TABLE DATA; Schema: prod_storage; Owner: postgres
--

COPY prod_storage.inference_scores (id, inference_id, user_group_cd, helpful, does_not_reveal_answer, does_not_contain_errors, only_relevant_info, created_at, deleted_flg) FROM stdin;
1	4	art-med-com	4	4	5	4	2025-04-21 14:01:35.287405	f
2	2	art-med-com	4	4	5	4	2025-04-21 14:03:21.295749	f
3	8	art-med-com	4	5	5	1	2025-04-21 14:12:06.726368	f
4	10	art-med-com	4	3	1	2	2025-04-21 16:43:23.247571	f
\.


--
-- Data for Name: link_user_group_x_level; Type: TABLE DATA; Schema: prod_storage; Owner: postgres
--

COPY prod_storage.link_user_group_x_level (user_group_cd, level_cd, created_at) FROM stdin;
nat-tech-sci	INTERM	2025-04-18 10:04:25.475333
humanities	ELEM	2025-04-18 10:04:25.475333
soc-econ-sci	INTERM	2025-04-18 10:04:25.475333
art-med-com	ELEM	2025-04-18 10:04:25.475333
\.


--
-- Data for Name: models; Type: TABLE DATA; Schema: prod_storage; Owner: postgres
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: prod_storage; Owner: postgres
--



--
-- Data for Name: questions_transformed; Type: TABLE DATA; Schema: prod_storage; Owner: postgres
--



--
-- Data for Name: test_cases; Type: TABLE DATA; Schema: prod_storage; Owner: postgres
--



--
-- Name: answers_coderunner_id_seq; Type: SEQUENCE SET; Schema: prod_storage; Owner: postgres
--

SELECT pg_catalog.setval('prod_storage.answers_coderunner_id_seq', 18, true);


--
-- Name: answers_multichoice_id_seq; Type: SEQUENCE SET; Schema: prod_storage; Owner: postgres
--

SELECT pg_catalog.setval('prod_storage.answers_multichoice_id_seq', 25, true);


--
-- Name: inference_scores_id_seq; Type: SEQUENCE SET; Schema: prod_storage; Owner: postgres
--

SELECT pg_catalog.setval('prod_storage.inference_scores_id_seq', 4, true);


--
-- Name: models_id_seq; Type: SEQUENCE SET; Schema: prod_storage; Owner: postgres
--

SELECT pg_catalog.setval('prod_storage.models_id_seq', 4, true);


--
-- Name: questions_id_seq; Type: SEQUENCE SET; Schema: prod_storage; Owner: postgres
--

SELECT pg_catalog.setval('prod_storage.questions_id_seq', 24, true);


--
-- Name: questions_transformed_id_seq; Type: SEQUENCE SET; Schema: prod_storage; Owner: postgres
--

SELECT pg_catalog.setval('prod_storage.questions_transformed_id_seq', 15, true);


--
-- Name: test_cases_id_seq; Type: SEQUENCE SET; Schema: prod_storage; Owner: postgres
--

SELECT pg_catalog.setval('prod_storage.test_cases_id_seq', 85, true);


--
-- Name: answers_coderunner answers_coderunner_pkey; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.answers_coderunner
    ADD CONSTRAINT answers_coderunner_pkey PRIMARY KEY (id);


--
-- Name: answers_coderunner answers_coderunner_source_key_unique; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.answers_coderunner
    ADD CONSTRAINT answers_coderunner_source_key_unique UNIQUE (question_id, text);


--
-- Name: answers_multichoice answers_multichoice_pkey; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.answers_multichoice
    ADD CONSTRAINT answers_multichoice_pkey PRIMARY KEY (id);


--
-- Name: answers_multichoice answers_multichoice_source_key_unique; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.answers_multichoice
    ADD CONSTRAINT answers_multichoice_source_key_unique UNIQUE (question_id, text);


--
-- Name: dict_question_levels dict_question_levels_pkey; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.dict_question_levels
    ADD CONSTRAINT dict_question_levels_pkey PRIMARY KEY (level_cd);


--
-- Name: dict_user_groups dict_user_groups_pkey; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.dict_user_groups
    ADD CONSTRAINT dict_user_groups_pkey PRIMARY KEY (user_group_cd);


--
-- Name: inference_scores inference_scores_pkey; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.inference_scores
    ADD CONSTRAINT inference_scores_pkey PRIMARY KEY (id);


--
-- Name: link_user_group_x_level link_user_group_x_level_pkey; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.link_user_group_x_level
    ADD CONSTRAINT link_user_group_x_level_pkey PRIMARY KEY (user_group_cd, level_cd);


--
-- Name: models models_pkey; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.models
    ADD CONSTRAINT models_pkey PRIMARY KEY (id);


--
-- Name: models models_source_key_unique; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.models
    ADD CONSTRAINT models_source_key_unique UNIQUE (base_model_name, version);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: questions questions_source_key_unique; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.questions
    ADD CONSTRAINT questions_source_key_unique UNIQUE (name);


--
-- Name: questions_transformed questions_transformed_pkey; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.questions_transformed
    ADD CONSTRAINT questions_transformed_pkey PRIMARY KEY (id);


--
-- Name: test_cases test_cases_pkey; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.test_cases
    ADD CONSTRAINT test_cases_pkey PRIMARY KEY (id);


--
-- Name: test_cases test_cases_source_key_unique; Type: CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.test_cases
    ADD CONSTRAINT test_cases_source_key_unique UNIQUE (question_id, input);


--
-- Name: answers_coderunner set_answers_coderunner_updated_at; Type: TRIGGER; Schema: prod_storage; Owner: postgres
--

CREATE TRIGGER set_answers_coderunner_updated_at AFTER UPDATE ON prod_storage.answers_coderunner FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: answers_multichoice set_answers_multichoice_updated_at; Type: TRIGGER; Schema: prod_storage; Owner: postgres
--

CREATE TRIGGER set_answers_multichoice_updated_at AFTER UPDATE ON prod_storage.answers_multichoice FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: dict_question_levels set_dict_question_levels_updated_at; Type: TRIGGER; Schema: prod_storage; Owner: postgres
--

CREATE TRIGGER set_dict_question_levels_updated_at AFTER UPDATE ON prod_storage.dict_question_levels FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: dict_user_groups set_dict_user_groups_updated_at; Type: TRIGGER; Schema: prod_storage; Owner: postgres
--

CREATE TRIGGER set_dict_user_groups_updated_at AFTER UPDATE ON prod_storage.dict_user_groups FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: models set_models_updated_at; Type: TRIGGER; Schema: prod_storage; Owner: postgres
--

CREATE TRIGGER set_models_updated_at AFTER UPDATE ON prod_storage.models FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: questions set_questions_updated_at; Type: TRIGGER; Schema: prod_storage; Owner: postgres
--

CREATE TRIGGER set_questions_updated_at AFTER UPDATE ON prod_storage.questions FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: test_cases set_test_cases_updated_at; Type: TRIGGER; Schema: prod_storage; Owner: postgres
--

CREATE TRIGGER set_test_cases_updated_at AFTER UPDATE ON prod_storage.test_cases FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: answers_coderunner answers_coderunner_question_id_fkey; Type: FK CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.answers_coderunner
    ADD CONSTRAINT answers_coderunner_question_id_fkey FOREIGN KEY (question_id) REFERENCES prod_storage.questions(id) ON DELETE CASCADE;


--
-- Name: answers_multichoice answers_multichoice_question_id_fkey; Type: FK CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.answers_multichoice
    ADD CONSTRAINT answers_multichoice_question_id_fkey FOREIGN KEY (question_id) REFERENCES prod_storage.questions(id) ON DELETE CASCADE;


--
-- Name: questions fk_level_cd; Type: FK CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.questions
    ADD CONSTRAINT fk_level_cd FOREIGN KEY (level_cd) REFERENCES prod_storage.dict_question_levels(level_cd) ON DELETE SET NULL;


--
-- Name: inference_scores inference_scores_inference_id_fkey; Type: FK CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.inference_scores
    ADD CONSTRAINT inference_scores_inference_id_fkey FOREIGN KEY (inference_id) REFERENCES prod_storage.questions_transformed(id) ON DELETE CASCADE;


--
-- Name: inference_scores inference_scores_user_group_cd_fkey; Type: FK CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.inference_scores
    ADD CONSTRAINT inference_scores_user_group_cd_fkey FOREIGN KEY (user_group_cd) REFERENCES prod_storage.dict_user_groups(user_group_cd) ON DELETE SET NULL;


--
-- Name: link_user_group_x_level link_user_group_x_level_level_cd_fkey; Type: FK CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.link_user_group_x_level
    ADD CONSTRAINT link_user_group_x_level_level_cd_fkey FOREIGN KEY (level_cd) REFERENCES prod_storage.dict_question_levels(level_cd) ON DELETE CASCADE;


--
-- Name: link_user_group_x_level link_user_group_x_level_user_group_cd_fkey; Type: FK CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.link_user_group_x_level
    ADD CONSTRAINT link_user_group_x_level_user_group_cd_fkey FOREIGN KEY (user_group_cd) REFERENCES prod_storage.dict_user_groups(user_group_cd) ON DELETE CASCADE;


--
-- Name: questions_transformed questions_transformed_model_id_fkey; Type: FK CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.questions_transformed
    ADD CONSTRAINT questions_transformed_model_id_fkey FOREIGN KEY (model_id) REFERENCES prod_storage.models(id) ON DELETE CASCADE;


--
-- Name: questions_transformed questions_transformed_question_id_fkey; Type: FK CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.questions_transformed
    ADD CONSTRAINT questions_transformed_question_id_fkey FOREIGN KEY (question_id) REFERENCES prod_storage.questions(id) ON DELETE CASCADE;


--
-- Name: test_cases test_cases_question_id_fkey; Type: FK CONSTRAINT; Schema: prod_storage; Owner: postgres
--

ALTER TABLE ONLY prod_storage.test_cases
    ADD CONSTRAINT test_cases_question_id_fkey FOREIGN KEY (question_id) REFERENCES prod_storage.questions(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

